//Primary
$SoftRed: hsl(7, 99%, 70%);
$learnMore: hsl(51, 100%, 49%);
$logofooter : hsl(167, 40%, 24%); //(graphic design text)
$textServices : hsl(198, 62%, 26%); //(photography text)
$ColorFooter: hsl(168, 34%, 41%);

//Neutral
$titleService: hsl(212, 27%, 19%);
$para: hsl(213, 9%, 39%);
$titleAvis: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$background: hsl(0, 0%, 100%);
$bannerColor: $background;
$title1: $background;

//mobile
$mobile: 375px;

//mixin
@import 'mixin';

* {
    margin: 0;
    padding: 0;
}

.spacer {
    flex-grow: 1;
}

body {
    font : {
        size: 18px;
        family: "Barlow", arial, sans-serif;
        weight: 600;
    }

    background: $background;

    margin: auto;
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

header {
    background: {
        image: url("./img/photos/image-header.jpg");
        size: cover;
        repeat: no-repeat;
        position: center;
    }

    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 3rem 0 3rem;
        color: hsl(0, 0%, 100%);
        font-weight: 600;
        display: flex;

        &__logo {
            margin: 2%;
            height: 33px;

        }

        &__menu {
            @include max-width($mobile) {
                display: none;
            }

            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;

            &--contact {
                background-color: $bannerColor;
                text-transform: uppercase;
                color: $textServices;
                border-radius: 1.5rem;
                padding: 1rem 1.5rem;
            }
        }

    }

    .title1 {
        font: {
            size: 56px;
            family: "Fraunces", arial, serif;
            weight: 900;

        }

        @include max-width($mobile) {
            font-size: 40px;
            text-align: center;
        }

        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin: 10% 0;
        color: $title1;
    }
}

main {
    display: flex;
    flex-direction: column;

    .container {
        height: 600px;

        @include max-width($mobile) {
            height: auto;
        }

        display: flex;

        flex-direction: row;

        @include max-width($mobile) {
            flex-direction: column;
        }

        &--2 {
            flex-direction: row-reverse;

            @include max-width($mobile) {
                flex-direction: column;
            }
        }

        &__explanation {
            width: 50%;

            @include max-width($mobile) {
                width: 100%;
            }

            &--texte {
                padding: 20%;

                @include max-width($mobile) {
                    padding: 20% 5%;
                    text-align: center;                   
                }

                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            &--title {
                font: {
                    size: 40px;
                    family: "Fraunces", arial, serif;
                    weight: 900;
                }
                @include max-width($mobile) {
                    font-size: 32px;
                   
                }
            }
            &--para {
                line-height: 166.667%;
                color: $titleAvis;
            }

            &--nav {
                font:{
                    size: 15px;
                    family: "Fraunces", arial, serif;
                    weight: 900;
                }
                line-height: 166.66%;
                letter-spacing: 1px;
                text-decoration: underline solid $learnMore 10px;
                text-underline-offset: 0;
            }
        }
    }

    .container__Services {
        width: 50%;
        display: flex;

        @include max-width($mobile) {
            width: 100%;
        }

        &--1 {
            background: {
                image: url("./img/photos/image-graphic-design.jpg");
                position: center;
                size: cover;
            }
        }

        &--2 {
            background: {
                image: url("./img/photos/image-photography.jpg");
                position: center;
                size: cover;
            }
        }

        &--texte {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
            padding: 24rem 21% 0 21%;
            color:$textServices;
            line-height: 168.75%;

            ;

            @include max-width($mobile) {
                padding: 90% 3% 10% 3%;
            }

           
        }
        &--title {
            font: {
                size: 28px;
                family: "Fraunces", arial, serif;
                weight: 900;
            }
            color: $titleService;
        }
    }

    .client {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;


        &__title {
            margin-bottom: 6%;
            color: $titleAvis;
            letter-spacing: 5px;

            font: {
                size: 20px;
                family: "Fraunces", arial, serif;
                weight: 900;
            }

            @include max-width($mobile) {
                font-size: 16px;
                padding-bottom: 15%;
            }
        }

        &__box {
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-grow: 1;

            @include max-width($mobile) {
                flex-direction: column;
                gap: 4rem;
            }
        }

        &__avis {
            &--img {
                max-width: 72px;
                max-height: 72px;
                border-radius: 72px;
                margin: 5px;
            }

            &--para {
                padding: 8%;
                line-height: 177.78%;
                color: $para;

                @include max-width($mobile) {
                    padding: 3% 0.5% 3% 0.5%;

                }
            }

            &--signature {
                font: {
                    family: "Fraunces", arial, serif;
                    weight: 900;
                }

            }

            &--function {
                font-size: 14px;
                color: $titleAvis;
                padding: 1.5%;
            }
        }
    }
}


footer {
    display: flex;
    flex-direction: column;

    .images {
        display: flex;

        @include max-width($mobile) {
            flex-wrap: wrap;
        }

        img {
            width: 25%;

            @include max-width($mobile) {
                width: 50%;
            }
        }
    }

    .end {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: #90D4C6;

        &__logo {
            color: $logofooter;
        }

        &__menu {

            margin: {
                top: 3rem;
                bottom: 5rem;
            }

            list-style-type: none;
            display: flex;
            gap: 3rem;
        }

        & __icons {
            display: flex;
            gap: 1.5rem;
        }
    }
}