* {
  margin: 0;
  padding: 0;
}

.spacer {
  flex-grow: 1;
}

body {
  font-size: 18px;
  font-family: "Barlow", arial, sans-serif;
  font-weight: 600;
  background: hsl(0, 0%, 100%);
  margin: auto;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("./img/photos/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .banner {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 3rem 0 3rem;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  display: flex;
}
header .banner__logo {
  margin: 2%;
  height: 33px;
}
header .banner__menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 834px) {
  header .banner__menu {
    display: none;
  }
}
header .banner__menu--contact {
  background-color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  color: hsl(198, 62%, 26%);
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
}
header .title1 {
  font-size: 56px;
  font-family: "Fraunces", arial, serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 10% 0;
  color: hsl(0, 0%, 100%);
}
@media (max-width: 834px) {
  header .title1 {
    font-size: 40px;
    text-align: center;
  }
}

main {
  display: flex;
  flex-direction: column;
}
main .container {
  height: 600px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 834px) {
  main .container {
    height: auto;
  }
}
@media (max-width: 834px) {
  main .container {
    flex-direction: column;
  }
}
main .container--2 {
  flex-direction: row-reverse;
}
@media (max-width: 834px) {
  main .container--2 {
    flex-direction: column;
  }
}
main .container__explanation {
  width: 50%;
}
@media (max-width: 834px) {
  main .container__explanation {
    width: 100%;
  }
}
main .container__explanation--texte {
  padding: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 834px) {
  main .container__explanation--texte {
    padding: 20% 5%;
    text-align: center;
  }
}
main .container__explanation--title {
  font-size: 40px;
  font-family: "Fraunces", arial, serif;
  font-weight: 900;
}
@media (max-width: 834px) {
  main .container__explanation--title {
    font-size: 32px;
  }
}
main .container__explanation--para {
  line-height: 166.667%;
  color: hsl(232, 10%, 55%);
}
main .container__explanation--nav {
  font-size: 15px;
  font-family: "Fraunces", arial, serif;
  font-weight: 900;
  line-height: 166.66%;
  letter-spacing: 1px;
  -webkit-text-decoration: underline solid hsl(51, 100%, 49%) 10px;
          text-decoration: underline solid hsl(51, 100%, 49%) 10px;
  text-underline-offset: 0;
}
main .container__Services {
  width: 50%;
  display: flex;
}
@media (max-width: 834px) {
  main .container__Services {
    width: 100%;
  }
}
main .container__Services--1 {
  background-image: url("./img/photos/image-graphic-design.jpg");
  background-position: center;
  background-size: cover;
}
main .container__Services--2 {
  background-image: url("./img/photos/image-photography.jpg");
  background-position: center;
  background-size: cover;
}
main .container__Services--texte {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  padding: 24rem 21% 0 21%;
  color: hsl(198, 62%, 26%);
  line-height: 168.75%;
}
@media (max-width: 834px) {
  main .container__Services--texte {
    padding: 90% 3% 10% 3%;
  }
}
main .container__Services--title {
  font-size: 28px;
  font-family: "Fraunces", arial, serif;
  font-weight: 900;
  color: hsl(212, 27%, 19%);
}
main .client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}
main .client__title {
  margin-bottom: 6%;
  color: hsl(232, 10%, 55%);
  letter-spacing: 5px;
  font-size: 20px;
  font-family: "Fraunces", arial, serif;
  font-weight: 900;
}
@media (max-width: 834px) {
  main .client__title {
    font-size: 16px;
    padding-bottom: 15%;
  }
}
main .client__box {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
@media (max-width: 834px) {
  main .client__box {
    flex-direction: column;
    gap: 4rem;
  }
}
main .client__avis--img {
  max-width: 72px;
  max-height: 72px;
  border-radius: 72px;
  margin: 5px;
}
main .client__avis--para {
  padding: 8%;
  line-height: 177.78%;
  color: hsl(213, 9%, 39%);
}
@media (max-width: 834px) {
  main .client__avis--para {
    padding: 3% 0.5% 3% 0.5%;
  }
}
main .client__avis--signature {
  font-family: "Fraunces", arial, serif;
  font-weight: 900;
}
main .client__avis--function {
  font-size: 14px;
  color: hsl(232, 10%, 55%);
  padding: 1.5%;
}

footer {
  display: flex;
  flex-direction: column;
}
footer .images {
  display: flex;
}
@media (max-width: 834px) {
  footer .images {
    flex-wrap: wrap;
  }
}
footer .images img {
  width: 25%;
}
@media (max-width: 834px) {
  footer .images img {
    width: 50%;
  }
}
footer .end {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #90D4C6;
}
footer .end__logo {
  color: hsl(167, 40%, 24%);
}
footer .end__menu {
  margin-top: 3rem;
  margin-bottom: 5rem;
  list-style-type: none;
  display: flex;
  gap: 3rem;
}
footer .end __icons {
  display: flex;
  gap: 1.5rem;
}/*# sourceMappingURL=style.css.map */