//Primary
$SoftRed: hsl(7, 99%, 70%);
$learnMore: hsl(51, 100%, 49%);
$logofooter : hsl(167, 40%, 24%); //(graphic design text)
$DarkBlue : hsl(198, 62%, 26%); //(photography text)
$ColorFooter: hsl(168, 34%, 41%);

//Neutral
$VeryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$VeryDarkGrayishBlue: hsl(213, 9%, 39%);
$titleAvis: hsl(232, 10%, 55%);
$GrayishBlue: hsl(210, 4%, 67%);
$background: hsl(0, 0%, 100%);
$bannerColor: $background;
$title1: $background;

//mobile
$mobile: 375px;
//mixin
@import 'assets/_mixin.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
}

body {
    font : {
        size: 18px;
        family: "Barlow", arial, sans-serif;
        weight: 600;
    }

    max-width: 1440px;
    width: 100%;
    background: $background;
    @include max-width($mobile){
        width: 375px;
    }
}

header {
    background: {
        image: url("./img/photos/image-header.jpg");
        size: cover;
        repeat: no-repeat;
    }

    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include max-width($mobile){
        width: 100%;

    .banner {
        height: 56px;
        width: 1352px;
        color: hsl(0, 0%, 100%);
        font-weight: 600;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;

        &__logo {
            margin: 8.5px;
            width: 170px;
            height: 33px;
        }

        &__menu {
            list-style-type: none;
            display: flex;
            justify-content: space-between;


            &--1 {
                margin: 0 15px;
                line-height: 50px;
            }

            &--contact {

                background-color: $bannerColor;
                text-transform: uppercase;
                color: $VeryDarkDesaturatedBlue;
                border-radius: 28px;
                width: 140px;
                height: 56px;
                text-align: center;
                line-height: 50px;

            }


        }

    }
}

.title1 {
    font: {
        size: 56px;
        family: "Fraunces", arial, serif;
        weight: 900;
    }

    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 100px 0;
    color: $title1;
    display: flex;
    justify-content: center;

}

.container {
    height: 600px;
    display: flex;
    flex-direction: row;
    @include max-width($mobile){
        display:flex;
        flex-direction: column;

    &--2 {
        flex-direction: row-reverse;

    }

    &__explanation {
        width: 50%;

        &--texte {
            width: 445px;
            height: 285px;
            margin-top: 158px;
            margin-left: 165px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--2 {
                margin-top: 158px;
                margin-left: 110px;
                justify-content: space-between;
            }
        }

        &--title {
            font: {
                size: 40px;
                family: "Fraunces", arial, serif;
                weight: 900;
            }
        }

        &--nav {
            text-decoration: underline solid $learnMore 10px;
            text-underline-offset: 0;
        }
    }

}



.container__Services {
    width: 50%;

    background: {
        image: url("./img/photos/image-graphic-design.jpg");
        size: 100%;


    }

    &--2 {
        width: 50%;

        background: {
            image: url("./img/photos/image-photography.jpg");
            size: 100%;

        }

    }

    &--texte {
        width: 339px;
        height: 143px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        margin-top: 398px;
        margin-left: 191px;


    }
}

.client {
    height: 777px;



    &__title {
        text-align: center;
        margin-top: 160px;
        color: $titleAvis;
        line-height: 100px;
        letter-spacing: 5px;

        font: {
            size: 20px;
            family: "Fraunces", arial, serif;
            weight: 900;
        }
    }

    &__box {
        width: 1110px;
        height: 475px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    &__avis {
        width: 370px;

        &--img {
            max-width: 72px;
            max-height: 72px;
            border-radius: 72px;
        }

        &--para {
            margin: 35px;

            &--1 {
                margin: 36px;
            }
        }

        &--signature {
            font: {
                family: "Fraunces", arial, serif;
                weight: 900;

            }
        }

        &--function {
            font-size: 14px;
            color: $titleAvis;
        }

    }
}

footer {
    height: 797px;


    .image {
        height: 447px;
        width: 25%;
        display: flex;

    }

    .fin {
        height: 350px;
        background-color:  #90D4C6;
        text-align: center;

    }

    .menu {
        width: 700px;
        margin-top:  25px;
        margin-bottom: 125px;
        margin-left: 376px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        ;
        
    }
    .logo{
        color: $logofooter;
        margin: 35px;

    }
    .icon{
        width: 164px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}